@font-face {
    font-family: "GT America Regular";
    src: url('/fonts/GTAmerica-ExtendedRegular.woff2') format('woff2'),
    url('/fonts/GTAmerica-ExtendedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'Regular';
}

@font-face {
    font-family: "GT America Light";
    src: url('/fonts/GTAmerica-ExtendedLight.woff2') format('woff2'),
    url('/fonts/GTAmerica-ExtendedLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'Light';
}

